@reference 'tailwindcss';

.tooltip-content {
  /* Separated Tailwind classes with proper spacing in @apply */
  @apply text-grey-50 max-w-[181px] rounded-md bg-black p-2;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;

  .arrow-tooltip {
    background: #000000 !important;
    fill: #000000 !important;
  }
}
